.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #0e795e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.all-frame {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

.side-by-side {
  width: 10rem;
}

.logo_img{
}

.header_top{
  background-color: #fcb800;
  border-bottom: 1px solid rgba(0,0,0,.15);
  height: 5rem;

}

.container{
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
}

.left{
    display: flex;
    align-items: center;  
}
.right{
  display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}

.margin{
  margin: 0 20px;
}

.center{
  width: 50%;
}
