.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #0e795e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.all-frame {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

.side-by-side {
  /* width: 100%; overflow: hidden; */
  width: 10rem;
}

/* .left {
  width: 45%;
  float: left;
}

.right {
  margin-left: 55%;
} */

.logo_img{
  /* width: 4rem; */
}

.header_top{
  /* padding: 25px 0; */
  background-color: #fcb800;
  border-bottom: 1px solid rgba(0,0,0,.15);
  height: 5rem;

}

.container{
  display: flex;
  /* flex-flow: row nowrap; */
  margin-left: 5rem;
  margin-right: 5rem;
}

.left{
  /* max-width: 300px; */
    display: flex;
    align-items: center;
    /* width: 10%; */
    /* float: left; */
}
.right{
  /* max-width: 370px; */
  display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    /* float: right; */
}

.margin{
  margin: 0 20px;
}

.center{
  width: 50%;
}
